#include "winnim.h"

Winnim MENU 

BEGIN

	POPUP "&Game"

	BEGIN

		MENUITEM "&New", IDM_NEW

		MENUITEM SEPARATOR

		MENUITEM "&Last token loses", IDM_LAST_LOSES, CHECKED

		MENUITEM "Computer moves &first", IDM_COMPUTER_FIRST

		MENUITEM SEPARATOR

		MENUITEM "&Parameters ...", IDM_PARAMETERS

		MENUITEM "&Give Up", IDM_CONCEDE

	END



	POPUP "&Help"

	BEGIN

		MENUITEM "About nim ...", IDM_HELP_GAME

		MENUITEM "Move ...", IDM_HELP_MOVE

	END



END



Parameters DIALOG 18, 27, 148, 97

STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU

CAPTION "Parameters"

BEGIN

	EDITTEXT IDD_PILE_COUNT, 58, 12, 16, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP

	EDITTEXT IDD_PILE_NUMBERS, 76, 36, 68, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP

	EDITTEXT IDD_MAX_MOVE, 71, 57, 16, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP

	PUSHBUTTON "SURE", IDD_OK, 26, 80, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP

	PUSHBUTTON "NAH", IDD_CANCEL, 82, 80, 27, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP

	LTEXT "Number rows:", -1, 8, 13, 46, 8, WS_CHILD | WS_VISIBLE | WS_GROUP

	LTEXT "Tokens in each row:", -1, 7, 37, 65, 8, WS_CHILD | WS_VISIBLE | WS_GROUP

	CONTROL "Maximum move:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 59, 55, 8

END







