* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px "Trebuchet MS", Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	/* height: 100%; */
	height:730px;
	background:#999999;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}

#wrapper {
	width: 940px;
	margin: 0 auto;
	min-height: 100%;
	/* height:800px; */
	/* height: auto !important; */
	/* height: 100%; */
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 150px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	height:650px;
	/* padding: 0 270px 0 270px; */
	padding-left:200px;
	padding-right:200px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 200px;
	height:650px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 200px;
	height:650px;
	margin-left: -200px;
	position: relative;
	background: #B5E3FF;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 940px;
	margin: -100px auto 0;
	height: 100px;
	background: #B5E3FF;
	position: relative;
}

/* Misc. */

.loading {
				/* background: url(../images/load.gif) no-repeat center center; */
				height:48px;
				display:none;
}
	